<ul class=nav>
<li><strong>Getting Started</strong><ul class=nav>
<li><a href='{{site.github.url}}/Core/Taxonomy/Getting Started/Changelog.html'>Changelog</a></li>
<li><a href='{{site.github.url}}/Core/Taxonomy/Getting Started/Example.html'>Example</a></li>
<li><a href='{{site.github.url}}/Core/Taxonomy/Getting Started/Installation.html'>Installation</a></li>
<li><a href='{{site.github.url}}/Core/Taxonomy/Getting Started/Introduction.html'>Introduction</a></li>
</ul></li>
<li><strong>Taxonomy</strong><ul class=nav>
<li><a href='{{site.github.url}}/Core/Taxonomy/Taxonomy/Hierarchies.html'>Hierarchies</a></li>
<li><a href='{{site.github.url}}/Core/Taxonomy/Taxonomy/Working with terms.html'>Working with terms</a></li>
</ul></li>
</ul>
